.aboutContainer {
    background-color: black;
    overflow: hidden;
    position: relative;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
}

.aboutSection {
    display: grid;
    gap: 50px;
}

.title {
    font-size: 12px;
    color: #909090;
    text-transform: uppercase;
}

.content {
    font-size: 16px;
    letter-spacing: 0.8px;
}
.background {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}

.softwareStartups {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
