.aboutContainer {
    background-color: var(--color-black);
    overflow: hidden;
    position: relative;
    color: var(--color-white);
    padding-left: 10%;
    padding-right: 2%;
    padding-top: 6rem;
    padding-bottom: 10rem;
    @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.aboutSection {
    display: grid;
    gap: 50px;
}
