.footerSection {
    background-color: black;
    color: white;

    @media (max-width: 768px) {
        align-items: center;
    }
}

.backToTop {
    font-family: 'SF-Pro-Display-Regular';
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    color: white;

    @media (max-width: 768px) {
        align-items: center;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;
    }
}

.brandLogo {
    display: flex;
    align-items: center;
    img {
        max-height: 28px;
        width: auto;

        @media (max-width: 768px) {
            width: 70%;
        }
    }
}

.brandName {
    color: white;
    font-family: "Libre-Caslon-Condensed-Bold";
    font-size: 27px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    letter-spacing: 0.07rem;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.navLinks {
    font-family: "SF-Pro-Display-Regular";
    display: flex;
    gap: 1rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: white;

    @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
        align-items: center;
        font-size: 1rem;
    }

    @media (max-width: 280px) {
        gap: 0.3rem;
        font-size: 0.4rem;
    }
}

.socialLinks {
    font-family: "SF-Pro-Display-Regular";
    display: flex;
    gap: 1rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    color: white;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
}
