.footerSection {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    margin-top: 2rem;

    @media (max-width: 768px) {
        align-items: center;
    }
}

.backToTop {
    font-size: 16px;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;

    &:hover {
        color: var(--color-grey);
    }

    @media (max-width: 1050px) {
        font-size: 18px;
    }
}

.backToTopContainer {
    display: flex;
}

.placeHolder {
    @media (max-width: 1250px) {
        display: none;
    }
}

.navbar {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 4fr));
    gap: 1rem;
    align-items: center;
    padding: 10px 0;
    color: white;

    @media (max-width: 1250px) {
        gap: 1rem;
        align-items: center;
        justify-content: center;

        grid-template-columns: repeat(3, minmax(250px, 4fr));
    }

    @media (max-width: 1050px) {
        gap: 1rem;
        align-items: center;
        justify-content: center;

        grid-template-columns: repeat(1, minmax(250px, 4fr));
    }
}

.brandLogo {
    display: flex;
    align-items: center;
    
    @media (max-width: 1050px) {
        justify-content: center;
    }
}

.brandName {
    color: var(--color-white);
    font-family: "Libre-Caslon-Condensed-Bold";
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.07rem;
    text-align: flex-start;

    @media (max-width: 1050px) {
        font-size: 36px;
        text-align: center;
    }
}

.navLinks,
.socialLinks {
    font-family: "SF-Pro-Display-Regular";
    display: flex;
    gap: 2rem;
    font-size: 16px;
    color: var(--color-white);
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-end;
    -webkit-font-smoothing: antialiased;

    @media (max-width: 1250px) {
        justify-content: flex-start;
    }

    @media (max-width: 1050px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        gap: 2rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    @media (max-width: 768px) {
        font-size: 18px;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 1180px) {
        justify-content: flex-end;
        gap: 5rem;
    }

    @media (max-width: 1050px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.socialsImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 377px) {
        display: none
    }

    .socialIcon {
        @media (max-width: 500px) {
            display:none;
        }
    }
}

.navLinkText {
    transition: 0.3s ease;
    color: var(--color-white);
    &:hover {
        color: var(--color-grey); /* Darker shade of black for the hover state */
    }
}