.footerSection {
    background-color: var(--color-black);
    color: var(--color-white);
    width: 100%;
    margin-top: 2rem;

    @media (max-width: 768px) {
        align-items: center;
    }
}

.backToTop {
    font-size: 16px;
    justify-content: center;
    align-items: center; 
    transition: 0.3s ease;
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;

    &:hover {
        color: var(--color-grey);
    }

    @media (max-width: 768px) {
        font-size: 18px;
    }
}

// Specifically for gridded layouts on smaller devices
.backToTopContainerLesser {
    @media (min-width: 1050px) {
        display: none;
    }

    @media (max-width: 1050px) {
        justify-content: flex-start;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

// Specifically for gridded layouts on larger devices or mobile
.backToTopContainerDesktop {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1050px) {
        display: none;
    }

    @media (max-width: 768px) {
        display: flex;
    }
}

.navbar {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1rem;
    align-items: center;
    padding: 10px 0;
    color: white;
    
    @media (max-width: 1050px) {
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, minmax(250px, 4fr));
    }

    @media (max-width: 768px) {
        gap: 1rem;
        align-items: center;
        justify-content: center;

        grid-template-columns: repeat(1, minmax(250px, 4fr));
    }
}

.brandLogo {
    display: flex;
    align-items: center;
    
    @media (max-width: 768px) {
        justify-content: center;
    }
}

.brandName {
    color: var(--color-white);
    font-family: 'Inferi-Medium';
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.07rem;
    text-align: flex-start;

    @media (max-width: 1250px) {
        font-size: 21px;
    }

    @media (max-width: 768px) {
        font-size: 36px;
        text-align: center;
    }
}

.socialIcon {
    color: var(--color-white);
    transition: 0.3s ease;

    &:hover {
        color: var(--color-grey);
    }
}

.navLinks,
.socialLinks {
    font-family: "SF-Pro-Display-Regular";
    display: flex;
    gap: 2rem;
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 18px;
        gap: 2rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    @media (max-width: 768px) {
        font-size: 18px;
        gap: 2rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (max-width: 1050px) {
        justify-content: flex-end;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        gap: 5rem;
    }
}

.socialsImageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 768px) {
        margin-bottom: 2rem;
    }
}

.navLinkText {
    transition: 0.3s ease;
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    
    &:hover {
        color: var(--color-grey); /* Darker shade of black for the hover state */
    }
}