.heroContainer {
    background-color: black;
    position: relative;
    color: var(--color-white);
}

.textContainer {
    position: absolute;
    top: 0;
    left: 45%;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    font-size: 5rem;
    -webkit-font-smoothing: antialiased;
    color: var(--color-white);
    font-family: 'EB-Garamond-BoldItalic';

    @media (max-width: 1440px) {
        font-size: 4rem;
        left: 48%;
    }

    @media (max-width: 1250px) {
        font-size: 3rem;
        left: 52%;
    }

    @media (max-width: 1068px) {
        font-size: 2rem;
        left: 64%;
        width: 40%;
    }

    @media (max-width: 900px) {
        font-size: 3rem;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        left: 0%;
        width: 100%;
    }

    @media (max-width: 580px) {
        text-align: center;
        font-size: 2rem;
    }
}

.heroSection {
    font-family: "EB-Garamond-BoldItalic";
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 1440px) {
        align-items: flex-start;
    }

    @media (max-width: 768px) {
        align-items: center;
    }
}

.mainHeroTitle {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title {
    font-size: 8rem;
    font-weight: var(--font-weight-bold);
    color: var(--color-white);
    display: block;
    font-family: 'Inferi-Medium';

    @media (max-width: 1304px) {
        font-size: 7rem;
    }

    @media (max-width: 1160px) {
        font-size: 6rem;
    }

    @media (max-width: 1068px) {
        font-size: 5rem;
        text-align: center;
    }

    @media (max-width: 768px) {
        text-align: center;
    }
}

.content {
    padding-right: 10%;
    padding-left: 10%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-style: italic;
    -webkit-font-smoothing: antialiased;

    @media (max-width: 900px) {
        gap: 1rem;
        flex-direction: column;
        height: 100%;
        padding-top: 0.2rem;
    }
}
