.heroContainer {
    background-color: black;
    overflow: hidden;
    position: relative;
    color: white;
}

.textContainer {
    font-size: 3rem;
    font-weight: 4rem;
    line-height: 1.6;
    color: white;
    font-family: 'EB-Garamond-Medium-Italic';

    @media (max-width: 1440px) {
        padding-left: 1rem;
        font-size: 2rem;
    }

    @media (max-width: 768px) {
        padding-left: 1rem;
        font-size: 1rem;
    }

    @media (max-width: 580px) {
        text-align: center;
        font-size: 1rem;
    }
}

.heroSection {
    font-family: "SpaceGroteskBold", sans-serif;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    @media (max-width: 2080px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    @media (max-width: 1920px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    @media (max-width: 1600px) {
        padding-top: 0rem;
        padding-bottom: 0rem;
    }

    @media (max-width: 1440px) {
        align-items: center;
        padding-top: 0.2rem;
        padding-bottom: 3rem;
    }

    @media (max-width: 1050px) {
        align-items: center;
        padding-top: 0.2rem;
        padding-bottom: 3rem;
    }

    @media (max-width: 580px) {
        align-items: center;
    }
}

.mainHeroTitle {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title {
    font-size: 8rem;
    font-weight: var(--font-weight-bold);
    display: block;
    font-family: 'Inferi-Medium';
    @media (max-width: 768px) {
        font-size: 4rem;
    }

    @media (max-width: 580px) {
        text-align: center;
    }
}

.content {
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 40px;
    font-style: italic;

    @media (max-width: 580px) {
        flex-direction: column;
        height: 100%;
        padding-top: 0.2rem;
        padding-bottom: 3rem;
    }
}
