.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
    }
}

.title {
    font-size: 12px;
    color: #909090;
    text-transform: uppercase;
    font-family: 'SF-Pro-Display-Regular';
    letter-spacing: 0.1rem;
    line-height: 2rem;
}

.content {
    font-size: 20px;
    letter-spacing: 0.075rem;
    line-height: 2rem;
    font-family: 'EB-Garamond-Regular';
    -webkit-font-smoothing: antialiased;
}
