.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
    gap: 2rem;

    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

.title {
    font-size: 0.85rem;
    color: var(--color-grey);
    text-transform: uppercase;
    font-family: 'SF-Pro-Display-Regular';
    letter-spacing: 0.1rem;
    line-height: 2rem;

    @media (max-width: 768px) {
        font-size: 1.25rem;
    }
}

.content {
    color: var(--color-white);
    font-size: 20px;
    letter-spacing: 0.8px;
    line-height: 30px;
    font-family: 'EB-Garamond-Regular';
    -webkit-font-smoothing: antialiased;
}

.content p {
  margin-bottom: 16px; /* Adjust the space as needed */
}