.investmentsContainer {
    background-color: black;
    color: white;
}
.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 748px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
}

.h2 {
    padding-bottom: 2rem;
    font-family: 'Libre-Baskerville-Regular';
    font-size: 1rem;
}

.aboutContainer {
    background-color: black;
    overflow: hidden;
    position: relative;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.aboutSection {
    display: grid;
    gap: 50px;
}

.title {
    font-size: 12px;
    color: #909090;
    text-transform: uppercase;
}

.content {
    font-size: 16px;
    letter-spacing: 0.8px;
}
.background {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}

.softwareStartups {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
