.investmentsContainer {
    background-color: var(--color-black);
    color: var(--color-white);
}
.boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media (max-width: 1050px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

.h2 {
    color: var(--color-white);
    padding-bottom: 4rem;
    font-family: 'EB-Garamond-Regular';
    font-size: 2rem;
    letter-spacing: 0.8px;
}

.aboutContainer {
    background-color: var(--color-black);
    overflow: hidden;
    position: relative;
    color: var(--color-white);
    padding-left: 10%;
    padding-right: 2%;
    padding-top: 6rem;
    padding-bottom: 10rem;

    @media (max-width: 1048px) {
        padding-left: 5%;
        padding-right: 2%;
    }

    @media (max-width: 768px) {
        padding-left: 10%;
        padding-right: 10%;
    }
}

.aboutSection {
    display: grid;
    gap: 50px;
}

.title {
    font-size: 12px;
    color: #909090;
    text-transform: uppercase;
}

.content {
    font-size: 16px;
    letter-spacing: 0.8px;
}
.background {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}

.softwareStartups {
    display: grid;
    grid-template-columns: 1fr 2fr;
    position: relative;
}
