.navbarContainer {
    background-color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navLinks {
    font-family: "SF-Pro-Display-Regular";
    display: flex;
    gap: 1rem;
    font-weight: 500;

    @media (max-width: 768px) {
        gap: 0.8rem;
        font-size: 1rem;
    }

    @media (max-width: 328px) {
        gap: 0.2rem;
        font-size: 1rem;
    }
}
