.navbarContainer {
    background-color: var(--color-black);
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0px 36px 0px;
    margin-bottom: 7px;

    @media (max-width: 500px) {
        justify-content: center;
    }
}

.applyLink {
    color: var(--color-grey);
    font-family: "SF-Pro-Display-Regular";
}

.submitFormButton {
    background-color: var(--color-black);
    border: 2px solid var(--color-yellow);
    color: var(--color-yellow);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-family: "SF-Pro-Display-Regular";
    font-size: 1rem;
    transition: 0.3s ease;
    cursor: pointer;

    @media (pointer: fine) {
        &:hover {
            background-color: var(--color-yellow);
            color: var(--color-black);
        }
    }
}

// Animations should come in sequentially
.navLinks,
.socialLinks {
    font-family: "SF-Pro-Display-Regular";
    display: flex;
    gap: 2.75rem;
    font-size: 20px;
    align-items: center;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;

    @media (max-width: 768px) {
        font-size: 1.25rem;
    }

    @media (max-width: 328px) {
        font-size: 1.25rem;
    }
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    @media (max-width: 1050px) {
        flex-direction: row;
        align-items: center;
    }

    @media (max-width: 500px) {
        display: none;
    }

}

.socialImage {
    color: var(--color-white);
    transition: 0.3s ease;

    @media (pointer: fine) {
        &:hover {
            color: var(--color-grey);
        }
    }
}

.link {
    color: var(--color-white);
    transition: 0.3s ease;
    @media (pointer: fine) {
        &:hover {
            color: var(--color-grey);
        }
    }
}