.navbarContainer {
    background-color: black;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navLinks,
.socialLinks {
    font-family: "SF-Pro-Display-Regular";
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
    align-items: center;
    font-weight: 1rem;

    @media (max-width: 768px) {
        font-size: 1.25rem;
        font-weight: 1.25rem;
    }

    @media (max-width: 328px) {
        font-size: 1.25rem;
        font-weight: 1.25rem;
    }
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1050px) {
        flex-direction: row;
        align-items: flex-end;
    }
}
