.sectionContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  background-color: black;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media (max-width: 1050px) {
    grid-template-columns: 1fr;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 468px) {
    width: 100%;
    gap: 2rem;
    align-items: flex-start;
  }
}

.submit {
  background-color: white;
  color: black;
  height: 350px;
  border-radius: 1rem;
  font-size: 40px;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  font-family: 'SF-Pro-Display-Medium';

  @media (max-width: 768px) {
    width: 100%;
    height: 325px;
  }
}

.submitbutton {
  background-color: #000000;
  color: #ffffff;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
}

.submitbutton:hover {
  background-color: #333333; /* Darker shade of black for the hover state */
}

.followContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
  }

  @media (max-width: 468px) {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
    align-items: flex-start;
  }
}

.follow {
  position: relative;
  border: 1px solid;
  border-color: black;
  background-color: black;
  color: white;
  height: 350px;
  border-radius: 16px;
  font-size: 40px;
  padding: 2rem 2rem 2rem 2rem;
  display: inline-block;
  
  @media (max-width: 768px) {
    height: 325px;
  }
}

.followbutton {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  background-color: #ffffff;
  color: #000000;
  padding: 0.6rem 1.2rem 0.6rem 1.2rem;
  border: none;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}
